.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(4px + 2vmin);
  color: white;
}

.Email {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.Email-header, .Email-message {
  display: block;
}

.Email-section {
  margin: 10px;
}

.Email-show-button {
  margin-left: 5px;
}

.Email-send-button {
  position: relative;
  left: 156px;
}

 

